clientTest/Service References/ImageTransfertServiceReference/ImageTransfert.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1655/ImageTransfert.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:1655/ImageTransfert.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Octo_photo_wcf" />
  <xs:element name="ImageUploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="ImageData" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Octo_photo_wcf" name="ImageInfo" nillable="true" type="q2:ImageInfo" />
  <xs:element name="ImageDownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Octo_photo_wcf" minOccurs="0" name="ImageInfo" nillable="true" type="q3:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="ImageData" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>